
extends layout

block content
	h1= title

	ul
		each article, i in articles
			li=article.first_name
			

	ul
		each list_aurthor, i in author_list
			li=list_aurthor.first_name
			//li={list_aurthor.name}
	ul
		each movie_names, i in movies
			li=movie_names.movie_name

	ul
		each na, i in name
			li=na